<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <title>DogBlog</title>
    </head>
    <style>
        body{
            font-family: 'Open Sans', sans-serif;
        }
        .card-title{
            font-weight: 600;
        }
    </style>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center" style="margin: 25px auto; ">
                    <div class="card indexCards shadow-lg border-0 mt-2" style="width: 35rem; background-color: rgb(245, 101, 84);">
                        <div class="card-body">
                            <h5 class="card-title text-center"><i class="fas fa-paw fa-5x"></i></h5>
                            <h3 class="card-title text-center">Let's Edit Your Review!!!!</h3>
                            <form action="/dogs/<%= dog_id %>/comments/<%= comment._id %>?_method=PUT" method="POST" class="pt-5">
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" name="comment[text]"><%= comment.text %></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-dark btn-lg btn-block">Submit</button>
                                </div>
                            </form>
                            <p class="text-center"><a class="text-white" href="/dogs/<%= dog_id %>">Go back</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>











<!-- <div class="container">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center" style="margin: 25px auto;">
            <div class="card indexCards shadow border-0 mt-4 img-fluid">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1558929996-da64ba858215?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fGRvZ3N8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="Card image" style="width:100%">

                <div class="card-img-overlay">
                    <h5 class="card-title text-center">Edit Comment</h5>
                    <form action="/dogs/<%= dog_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="text" name="comment[text]" value="<%= comment.text %>">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-dark btn-lg btn-block">Submit</button>
                        </div>
                    </form>
                    <a href="/dogs">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %> -->
