<%- include("../partials/header") %>
        <style>
            body{
                font-family: 'Open Sans', sans-serif;
            }
            .card-title{
                font-weight: 600;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center" style="margin: 25px auto; ">
                    <div class="card indexCards shadow-lg border-0 mt-2" style="width: 35rem; background-color: rgb(245, 101, 84);">
                        <div class="card-body">
                            <h5 class="card-title text-center"><i class="fas fa-paw fa-5x"></i></h5>
                            <h3 class="card-title text-center">Let's Edit Your Review!!!!</h3>
                            <form action="/dogs/<%= dog_id %>/comments/<%= comment._id %>?_method=PUT" method="POST" class="pt-5">
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" name="comment[text]"><%= comment.text %></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-dark btn-lg btn-block">Submit</button>
                                </div>
                            </form>
                            <p class="text-center"><a class="text-white" href="/dogs/<%= dog_id %>">Go back</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
<%- include("../partials/footer") %>











<!-- <div class="container">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center" style="margin: 25px auto;">
            <div class="card indexCards shadow border-0 mt-4 img-fluid">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1558929996-da64ba858215?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fGRvZ3N8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="Card image" style="width:100%">

                <div class="card-img-overlay">
                    <h5 class="card-title text-center">Edit Comment</h5>
                    <form action="/dogs/<%= dog_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="text" name="comment[text]" value="<%= comment.text %>">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-dark btn-lg btn-block">Submit</button>
                        </div>
                    </form>
                    <a href="/dogs">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %> -->
