<%- include("../partials/header") %>
        <style>
            body{
                font-family: 'Open Sans', sans-serif;
            }
            .card-title{
                font-weight: 600;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center" style="margin: 25px auto;">
                    <div class="card indexCards shadow-lg border-0 mt-2" style="width: 35rem; background-color:#f0c0e8;">
                        <div class="card-body">
                            <h5 class="card-title text-center"><i class="fas fa-paw fa-5x"></i></h5>
                            <h3 class="card-title text-center">Let's Edit</h3>
                            <form action="/dogs/<%= dog._id %>?_method=PUT" method="POST" class="pt-5">
                                <div class="form-group">
                                    <label for="inputTitle">Blog Title</label>
                                    <input type="text" class="form-control form-control-lg" id="inputTitle" name="dog[title]" value="<%= dog.title %>">
                                </div>
                                <div class="form-group">
                                    <label for="inputCaption">Caption</label>
                                    <textarea class="form-control" id="inputCaption" rows="16" name="dog[caption]"><%= dog.caption %></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-dark btn-lg btn-block">Edit Post</button>
                                </div>
                            </form>
                            <p class="text-center"><a href="/dogs/<%= dog._id %>">Go back</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
<%- include("../partials/footer") %>






