<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="pl-2 lead">Dog Blog</p>
            <div class="list-group">
                <a href="/dogs/new" class="list-group-item list-group-item-action active">Add Your Own Post</a>
                <a href="/users/<%= dog.author.id %>" class="list-group-item list-group-item-action">Other Posts from <%= dog.author.username %></a>
                <a href="/dogs" class="list-group-item list-group-item-action">More Blog Posts</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card indexCards shadow border-0 mt-4 mb-4">
                <img src="data:dog/<%=dog.image.contentType%>;base64,
                <%=dog.image.data.toString('base64')%>" class="card-img-top rounded mx-auto d-block">
                <div class="card-body">
                    <h5 class="card-title"><%= dog.title %></h5>
                    <p class="card-subtitle mb-2 text-muted">Posted by <%= dog.author.username %> on <%= moment(dog.createdAt).format('LL') %></p>
                    <p class="card-text"><%= dog.caption %></p>
                    <% if(currentUser && dog.author.id.equals(currentUser._id)){ %>
                        <div class="d-flex justify-content-md-start">
                            <div class="p-2">
                                <a class="btn btn-warning" href="/dogs/<%= dog._id %>/edit">Edit</a>
                            </div>
                            <div class="p-2">
                                <form action="/dogs/<%= dog._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
            <ul class="list-group list-group-flush mb-5">
                <li class="list-group-item">
                    <a class="btn btn-success float-right" href="/dogs/<%= dog._id %>/comments/new">
                        Add new Comment
                    </a>
                </li>
                <% dog.comments.forEach(function(comment){ %>
                    <li class="list-group-item">
                        <div class="d-flex">
                            <div class="mr-auto p-2"><strong><%= comment.author.username %></strong></div>
                            <div class="p-2"><%= moment(comment.createdAt).fromNow() %></div>
                        </div>
                        <p class="pl-2"><%= comment.text %></p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <div class="d-flex justify-content-md-start">
                                <div class="p-2">
                                    <a class="btn btn-xs btn-warning" 
                                        href="/dogs/<%= dog._id %>/comments/<%= comment._id %>/edit">Edit
                                    </a>
                                </div>
                                <div class="p-2">
                                    <form action="/dogs/<%= dog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-danger" value="Delete">
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>



<%- include("../partials/footer") %>