<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <title>DogBlog</title>
    </head>
    <style>
        body{
            font-family: 'Open Sans', sans-serif;
        }
        .card-title{
            font-weight: 600;
        }
        ul li a{
            font-weight: 700;
        }
        .custom-toggler .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    </style>
    <body>
        <div class="container-fluid" style="background-color: #f0c0e8;">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-dark sticky-top ">
                        <a class="navbar-brand pl-3" href="/"><i class="fas fa-paw fa-2x"></i> DogBlog</a>
                        <button class="navbar-toggler custom-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto"></ul>
                            <ul class="nav navbar-nav navbar-right pr-5 pt-2" >
                                <li class="nav-item pr-5 pl-5">
                                    <a class="nav-link text-white"  href="/dogs">Blog <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item pr-5 pl-5">
                                    <a class="nav-link text-white" href="/about">About <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item pr-5 pl-5">
                                    <a class="nav-link text-white" href="/contact">Contact Us <span class="sr-only">(current)</span></a>
                                </li>
                                <% if(!currentUser){ %>
                                    <li class="nav-item pr-5 pl-5">
                                        <a class="nav-link text-white" href="/register">Sign Up <span class="sr-only">(current)</span></a>
                                    </li>
                                <% } else{ %>
                                    <li class="nav-item dropdown pr-4 pl-5">
                                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            My Profile
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="/users/<%= currentUser._id %>">View</a>
                                            <a class="dropdown-item" href="/logout">Sign Out</a>
                                        </div>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group mt-5">
                        <% if(currentUser && dog.author.id.equals(currentUser._id)){ %>
                            <a href="/dogs" class="list-group-item list-group-item-action">All Blogs</a>
                            <a href="/dogs/new" class="list-group-item list-group-item-action">Share More Posts</a>
                        <% }else{ %>
                            <a href="/users/<%= dog.author.id %>" class="list-group-item list-group-item-action">View <%= dog.author.username %>'s Profile </a>
                            <a href="/dogs" class="list-group-item list-group-item-action">View All Blogs</a>
                            <a href="/dogs/new" class="list-group-item list-group-item-action">Share your own Post</a>
                        <% } %>      
                        
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card indexCards shadow border-0 mt-5 mb-4">
                        <img src="data:dog/<%=dog.image.contentType%>;base64,
                        <%=dog.image.data.toString('base64')%>" class="card-img-top rounded mx-auto d-block">
                        <div class="card-body">
                            <h5 class="card-title"><%= dog.title %></h5>
                            <p class="card-subtitle mb-2 text-muted">Posted by <%= dog.author.username %> on <%= moment(dog.createdAt).format('LL') %></p>
                            <p class="card-text"><%= dog.caption %></p>
                            <% if(currentUser && dog.author.id.equals(currentUser._id)){ %>
                                <div class="btn-group dropright">
                                    <button type="button" class="btn dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/dogs/<%= dog._id %>/edit">Edit</a>
                                        <form action="/dogs/<%= dog._id %>?_method=DELETE" method="POST">
                                            <button class="btn dropdown-item">Delete</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- <div class="d-flex justify-content-md-start">
                                    <div class="p-2">
                                        <a class="btn btn-warning" href="/dogs/<%= dog._id %>/edit">Edit</a>
                                    </div>
                                    <div class="p-2">
                                        <form action="/dogs/<%= dog._id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div> -->
                            <% } %>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush mb-5">
                        <li class="list-group-item list-group-item-light">
                            <a class="btn btn-outline-dark float-right" href="/dogs/<%= dog._id %>/comments/new">
                                Leave a Review
                            </a>
                            <!-- <form action="/dogs/<%= dog._id %>/comments" method="POST">
                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <input type="text" class="form-control" id="inputEmail4" name="comment[text]">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <button type="submit" class="btn btn-secondary">
                                            Comment
                                        </button>
                                    </div>
                                </div>
                            </form> -->
                        </li>
                        <% dog.comments.forEach(function(comment){ %>
                            <li class="list-group-item">
                                <div class="d-flex">
                                    <div class="mr-auto p-2"><i class="fas fa-user"></i><strong class="pl-2"><a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a></strong> </div>
                                    <div class="p-2"><%= moment(comment.createdAt).fromNow() %></div>
                                </div>
                                <p class="pl-2"><%= comment.text %></p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                    <div class="btn-group dropright">
                                        <button type="button" class="btn dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/dogs/<%= dog._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                            <form action="/dogs/<%= dog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                <button class="btn dropdown-item">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- <div class="d-flex justify-content-md-start">
                                        <div class="p-2">
                                            <a class="btn btn-xs btn-warning" 
                                                href="/dogs/<%= dog._id %>/comments/<%= comment._id %>/edit">Edit
                                            </a>
                                        </div>
                                        <div class="p-2">
                                            <form action="/dogs/<%= dog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                <input type="submit" class="btn btn-danger" value="Delete">
                                            </form>
                                        </div>
                                    </div> -->
                                <% } %>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="background-color: #0a0a0a;">
            <div class="container">
                <div class="card text-center" style="padding-top: 100px; background-color: #0a0a0a;">
                    <div class="card-body">
                        <h5 class="card-title text-white"><i class="fab fa-facebook fa-2x" style="padding-right: 30px;"></i><i class="fab fa-instagram fa-2x" style="padding-right: 30px;"></i><i class="fab fa-twitter fa-2x"></i></h5>
                        <p class="card-text text-white">Info . Support . Marketing</p>
                        <p class="card-text text-white">Terms of Use . Privacy Policy</p>
                    </div>
                    <div class="card-footer text-muted">
                        Copyright 2021 DogBlog
                    </div>
                </div>
            </div>
        </div>      
    </body>
</html>

