<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/profile.css">
        <title>DogBlog</title>
    </head>
    <body>
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>

        <div class="container">
            <div class="shadow-lg p-0 mb-5 special">
                <div class="jumbotron pt-0">
                    <div class="bla">
                        <div class="collapse" id="navbarToggleExternalContent">
                            <div class="p-4">
                                <a class="nav-link text-white" href="/dogs">Blog <span class="sr-only">(current)</span></a>
                                <a class="nav-link text-white" href="/about">About <span class="sr-only">(current)</span></a>
                                <a class="nav-link text-white" href="/contact">Contact Us <span class="sr-only">(current)</span></a>
                                <% if(!currentUser){ %>
                                    <a class="nav-link text-white" href="/login">Login <span class="sr-only">(current)</span></a>
                                    <a class="nav-link text-white" href="/register">Sign Up <span class="sr-only">(current)</span></a>
                                <% } else{ %>
                                    <% if(currentUser._id.equals(user._id)){ %>
                                        <a class="nav-link text-white" href="/logout">Logout<span class="sr-only">(current)</span></a>
                                    <% } else { %>    
                                        <a class="nav-link text-white" href="/users/<%= currentUser._id %>">Your Profile<span class="sr-only">(current)</span></a>
                                        <a class="nav-link text-white" href="/logout">Logout<span class="sr-only">(current)</span></a>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                        <nav class="navbar navbar-dark">
                            <i class="fas fa-paw fa-2x" style="color: white;"></i><a class="navbar-brand pl-2" href="/">DogBlog</a>
                            <button class="navbar-toggler ml-auto custom-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </nav>
                    </div>
                    <h1 class="display-4 text-white" style="text-transform: capitalize;"><%= user.username %></h1>
                    <p class="lead text-white" style="font-weight: 600;">I am a <%= user.age %> year old blogger.</p>
                    <!-- <p class=" text-white"><i class="far fa-edit fa-2x"></i></p> -->
                    <% if(currentUser._id.equals(user._id)){ %>
                        <a href="/users/<%= user._id %>/edit"><button class="btn btn-dark"><i class="far fa-edit fa-2x"></i></button></a>
                    <% } %>
                    <hr class="my-4" style="visibility: hidden;">
                    
                    <a class="btn btn-primary btn-lg" style="visibility: hidden;" href="#" role="button">Learn more</a>
                </div>

                <div class="container p-5 special">
                    <div class="row">
                        <div class="col-lg-4 imp2">
                            <div class="box">
                                <div class="card shadow-lg imp">
                                    <img src="https://images.unsplash.com/photo-1501472193205-56ffb66400f0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTB8fGRvZ3N8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">About</h5>
                                        <p class="card-text">
                                            <%= user.about %>
                                            <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                            sed do eiusmod tempor incididunt ut labore et dolore magna 
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                                            ullamco laboris nisi ut. -->
                                        </p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="d-flex justify-content-sm-between">
                                                <div class="mr-auto">
                                                    <p >Posts</p>
                                                </div>
                                                <div class="ml-auto">
                                                    <p ><%= count %></p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex justify-content-sm-between">
                                                <div class="mr-auto">
                                                    <p >Location</p>
                                                </div>
                                                <div class="ml-auto">
                                                    <p ><%= user.location %></p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex justify-content-sm-between">
                                                <div class="mr-auto">
                                                    <p >Joined</p>
                                                </div>
                                                <div class="ml-auto">
                                                    <p ><%= moment(user.joinedOn).format('LL') %></p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <% if(currentUser._id.equals(user._id)){ %>
                                <div class="card shadow-lg border-0 bg-dark text-white mt-5 mb-4">
                                    <% if(count>0){ %>
                                        <h5 class="card-header">Your Contribution has been amazing <%= user.username %></h5> 
                                    <% } else{ %>
                                        <h5 class="card-header">Hey <%= user.username %>, share you first post today</h5> 
                                    <% } %>
                                    <div class="card-body">
                                        <h5 class="card-title">We are sure this community will give you the love and praise you deserve everytime you share a part of your life with us</h5>
                                        <p class="card-text">Share a New Blog</p>
                                        <a href="/dogs/new" class="btn btn-light btn-outline-dark border-0">Lets Share</a>
                                    </div>
                                </div>
                            <% }else{ %>
                                <% if(count>0){ %>
                                    <div class="card shadow-lg border-0 bg-dark text-white mt-5 mb-4">
                                        <h5 class="card-header">You are viewing <%= user.username %>'s profile.</h5> 
                                        <div class="card-body">
                                            <h5 class="card-title">Hey, check out the Blogs from <%= user.username %></h5>
                                            <p class="card-text">You can add your own posts too</p>
                                            <a href="/dogs/new" class="btn btn-light btn-outline-dark border-0">Lets Share</a>
                                        </div>
                                    </div>
                                <% }else{ %>
                                    <div class="card shadow-lg border-0 bg-dark text-white mt-5 mb-4">
                                        <h5 class="card-header">You are viewing <%= user.username %>'s profile.</h5> 
                                        <div class="card-body">
                                            <h5 class="card-title">No Blogs have been Posted by <%= user.username %> yet!!!</h5>
                                            <p class="card-text">View Other Blogs</p>
                                            <a href="/dogs" class="btn btn-light btn-outline-dark border-0">View</a>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                            <div class="row">
                                <% dogs.forEach(function(dog){ %>
                                    <div class="col-lg-12 d-flex justify-content-center">
                                        <div class="card indexCards shadow border-0 mt-4 mb-4">
                                            <img src="data:dog/<%=dog.image.contentType%>;base64,
                                            <%=dog.image.data.toString('base64')%>" class="card-img-top rounded mx-auto d-block">
                                            <div class="card-body">
                                                <p class="card-text"><%= dog.title %></p>
                                                <a href="/dogs/<%= dog._id %>" class="card-link" style="color:palevioletred;">View the full Article</a>
                                            </div>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    </body>
</html>